@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body, #__nuxt, #__layout {
  font-family: Interface, Avenir Next, sans-serif;
  font-size: 15px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

a {
  color: #3b92de;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  color: gray;
}

p {
  text-decoration: none;
}

.max-w-90 {
  max-width: 90rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.bg-gradient {
  background-color: #b7b7b7;
  -webkit-animation: random 20s infinite;
  animation: random 20s infinite;
  transition: all 20s ease-in-out;
}

@keyframes random {
  0% { background-color: #e7e7e7; }
  10% { background-color: #e7dddd; }
  20% { background-color: #e7e2dd; }
  30% { background-color: #e7e6dd; }
  40% { background-color: #e1e7dd; }
  50% { background-color: #dde7e1; }
  60% { background-color: #dde3e7; }
  70% { background-color: #dddde7; }
  80% { background-color: #e4dde7; }
  90% { background-color: #e7dde2; }
  100% { background-color: #e7e7e7; }
}
