@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: Interface, sans-serif;
  font-size: 15px;
  background-color: #f7f8f8;
}

a {
  color: blue;
  font-weight: bold;
}

.max-w-90 {
  max-width: 90rem;
}
